.tongquat{
    text-align: center;
}
.tieude{
    background-color: black;
    color: white;
}
.tinhtoan{
    background-color:gray ;
    max-width: ;
    height: ;
    
}
.tinhtoan .nhap{
    border-radius: 5px;
    margin-bottom: 10px;
}